<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>David Chalmers</string>
		<key>sex</key>
		<string>male</string>
		<key>username</key>
		<string>2019001</string>
		<key>password</key>
		<string>2019001</string>
		<key>no</key>
		<string>2019001</string>
		<key>mobile</key>
		<string>15828559565</string>
		<key>subjects</key>
		<string>App Development in the iOS Environment,Data Structures and Algorithms</string>
	</dict>
	<dict>
		<key>name</key>
		<string>J. Anthony Movshon</string>
		<key>sex</key>
		<string>male</string>
		<key>username</key>
		<string>2019002</string>
		<key>password</key>
		<string>2019002</string>
		<key>no</key>
		<string>2019002</string>
		<key>mobile</key>
		<string>15965425555</string>
		<key>subjects</key>
		<string>Database programming,Cloud computing and software as a service</string>
	</dict>
</array>
</plist>
